{% extends 'base.html.twig' %}
{% block body %}
<div class="card mb-3">
    <div class="card-header">
      Admin Panel
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3 mt-3  text-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questions / réponses</h5>
                    <p class="card-text">Ajouter ou modifier des questions, ainsi que leurs réponses.</p>
                    <a href="{{ path('questions') }}" class="btn btn-primary">Accéder</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 mb-3 mt-3  text-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Résultat par classe</h5>
                    <p class="card-text">Afficher le résultat des élèves par classe</p>
                    <a href="#!" class="btn btn-primary">Accéder</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}