{% extends 'base.html.twig' %}

{% block title %}Hello QuizController!{% endblock %}

{% block body %}
    <h1>Questionnaire C#</h1>
    {% for key, question in questions %}
    <div>
        Question: {{ key }}
    </div>
    {% endfor %}
{% endblock %}
